.profile {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.col1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 30vw;
  flex: 0 0 300px;
  height: 100vh;
  background-color: rgb(68, 85, 111);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
}

.image {
  width: 250px;
  border-radius: 50%;
}

.col1 text {
  color: whitesmoke;
  padding: 5px;
}

.col1 h2 {
  color: whitesmoke;
}

.iconTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col1b {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.iconTextContainerCol1b {
  display: flex;
  gap: 5px;
  padding-top: 8px;
  align-items: center;
}

.col2 {
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  overflow: auto;
  height: 100vh;
  margin-left: 35vw;
  flex-grow: 1;
  overflow: auto;
}

.iconTextContainerCol2 {
  display: flex;
  gap: 5px;
  padding-top: 8px;
  color: gray;
}

.repoContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
  margin-right: 5vw;
}

.repoContainer:last-child {
  border-bottom: none;
}

text {
  font-size: medium;
}

/* tablet */
@media (max-width: 820px) {
  .profile {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .col1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 40vw;
    flex: 0 0 300px;
    height: 100vh;
    background-color: rgb(68, 85, 111);
    position: fixed;
    overflow: auto;
  }

  .image {
    width: 150px;
  }

  .iconTextContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 8px;
  }
  
  .col2 {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 42vw;
    flex-grow: 1;
    overflow: auto;
    width: 50vw;
    height: 100vh;
  }

  .iconTextContainerCol2 {
    display: flex;
    gap: 5px;
    padding-top: 8px;
    color: gray;
  }

  .repoContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 16px 0;
    margin-right: 2vw;
  }
}

/* cellphone */
@media (max-width: 410px) {
  .col1 {
    padding: 10px;
    width: 45vw;
    background-color: rgb(68, 85, 111);
    position: fixed;
    overflow: auto;
  }
  .image {
    width: 100px;
  }

  .col1 text {
    color: whitesmoke;
    font-size: x-small;
    padding: 2px;
  }

  .col1 h2 {
    color: whitesmoke;
    font-size: small;
  }

  .iconTextContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 8px;
  }

  .col1b {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px;
  }

  .col1b text {
    display: flex;
    width: 120px;
    flex-wrap: wrap;
    padding: 2px;
  }
  
  .iconTextContainerCol1b {
    display: flex;
    gap: 1px;
    padding: 2px;
    align-items: center;
  }

  .col2 {
    margin-left: 48vw;
  }

  .col2 text {
    font-size: x-small;
    padding: 2px;
  }

  .iconTextContainerCol2 {
    display: flex;
    padding-top: 4px;
    color: gray;
  }
  
  .repoContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-right: 5vw;
  }
}
